:root{
    --gradient-gray: #1C1D20;
    --btn-color: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --login-text: #E0E0E0;
    --login-error:#E9B425;
    --white: #FFFFFF;
    --primary-text: #C12D18;
    --secondary-text: #222222;
}